@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.ct_card {
  max-width: 270px;
  min-width: 270px;
  max-height: 400px;
  background-color: #f7f8fa;
}

.ct_img {
  height: 220px;
  display: flex;
  justify-content: end;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.ct_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.ct_fav {
  background-color: #ffffff;
  color: #051036;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.ct_fav:hover {
  background-color: #fc5056;
  color: #ffffff;
}

.ct_info {
  padding: 16px;
  font-family: "Work Sans";
}

.ct_location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ct_location p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #878c95;
}

.ct_location h2 {
  font-size: 1.125rem;
  color: #051036;
}

.ct_reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  border-bottom: solid 1px #d9d9d9;
}

.ct_rv {
  display: flex;
  gap: 7px;
}

.ct_ReviewAverage {
  background-color: #fc5056;
  color: #ffffff;
  display: flex;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  gap: 2px;
}

.reviewsNum,
.ct_duration {
  color: #878c95;
}

.ct_duration {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.ct_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

.ct_price p {
  color: #878c95;
}

.ct_price span {
  font-family: "Kaushan Script";
  font-size: 1.25rem;
  color: #051036;
}

.ct_loading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
